@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    <section class="contact">
    <p>
        <h3>Phone:</h3>
        <span class="label">Main:</span>
        <span>508-650-3873</span>
    </p>
    </section>

    <section class="contact">
    <p>
        <h3>Email:</h3>
        <span class="label">Personal:</span>
        <span><a href="mailto:matthew.r.lindsey@gmail.com">matthew.r.lindsey@gmail.com</a></span>
    </p>

    </section>

    <section class="contact">
    <p>
        <h3>Address:</h3>
        27 Park Ave<br />
        Natick, MA 01760
    </p>
    </section>     
    </body>
</html>
