@{
    // provide your Twitter screen name
    string screenName = "matthewrlindsey";
}

@if (String.IsNullOrEmpty(screenName)) {
    <p>
        Welcome to the Twitter Page!
    </p>
} else {
    <p>@Twitter.Profile("matthewrlindsey", "404735817555255296")</p>
}
